---
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
// import { Image } from "astro:assets";
import Faqs from "@/components/Faqs.astro";
import Testimonials from '../components/Testimonials.astro';
import Feature from "@/components/Feature.astro";

const siteSettings = await getEntry('siteSettings', 'main');
const { showFAQ, showTestimonials, showPosts, showBio, showFeature, defaultView, showTitles, showDates, MAX_POSTS } = siteSettings.data;

// const MAX_POSTS = 3;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

import { getEntry } from 'astro:content';

const homeContent = await getEntry('homepage', 'index');



---
	<PageLayout
  meta={{ 
    title: homeContent.data.title,
    description: homeContent.data.description,
  }}
>



	{typeof showFeature !== 'undefined' && showFeature && (
<section class="scroll-area1 panel" id="feature" style={{ display: '', height: '', minHeight: '', position: 'relative', overflow: 'hidden', margin: '0 auto 0 auto', padding: '0 0 20px 0', width: '100vw', borderRadius: 'var(--theme-ui-colors-borderRadius)' }}>

	<Feature content={homeContent.data} />
</section>
)}




	{typeof showBio !== 'undefined' && showBio && (
		<section class="scroll-area1 panel" id="profile" style={{ display: '', height: '', minHeight: '', position: 'relative', overflow: 'hidden', margin: '0 auto 0 auto', padding: '3vh 0 20px 0', width: '100vw', borderRadius: 'var(--theme-ui-colors-borderRadius)' }}>
			<article style={{ margin: '0 0 0 0' }}>
				<div id="profiletop" class="flexbutt" style={{ display: '', gap: '10px', justifyContent: 'center', alignItems: "center", margin: '0 0', padding: '0 2% 0 2%', position: 'relative', color: '' }}>
					<div class="nameblock flexcheek" style={{ position: '', top: '0', marginTop: '', padding: '0 0 0 0', maxHeight: '', fontSize: 'clamp(1rem, 1.4vw, 3.2rem)' }}>
						<div class="mob print" style={{ position: 'sticky', top: '0', fontSize: 'clamp(1rem, 1.5vw, 3.2rem)', textAlign: '' }}>
							<h1 class="title" style={{ fontSize: 'clamp(1.4rem, 2.5vw, 3rem)', fontStyle: 'normal', textWrap: 'balance', textAlign: 'center', lineHeight: '1.2', color: 'inherit' }}>{homeContent.data.title}</h1>
							<h2 class="tagline1" style={{ fontSize: 'clamp(1.2rem, 2.3vw, 1.8rem)', textWrap: '', textAlign: 'center', lineHeight: '1', textShadow: 'none' }}>
								{homeContent.data.tagline}
							</h2>
							<div style={{ fontSize: 'clamp(1.2rem, 2vw, 2.8rem)', textAlign: 'left', textWrap: '', padding: '0 1rem 0 1rem' }} class="description">
								<p>{homeContent.data.description}</p>
							</div>
						</div>
					</div>
					<div class="flexcheek mob2 print" style={{ position: '', top: '0', minWidth: '500px', overflow: '', marginBottom: '', paddingTop: '0' }}>
						<h2 class="title" style={{ textAlign: 'center', fontSize: 'clamp(1.3rem, 2.4vw, 3rem)', fontStyle: 'normal', margin: '0 0 3vh 0', color: 'inherit' }}><a href={"tel:" + homeContent.data.phone}>Call {homeContent.data.phone}</a></h2>
						<div class="" style={{ position: '', top: '', marginTop: '', width: '100%', margin: '0 auto', maxHeight: '', fontSize: 'clamp(1/2.7rem, 1.3vw, 2rem)', textAlign: 'center', color: '' }}>
							<h3 class="font" style={{ textAlign: 'center', fontFamily: '', fontSize: 'clamp(1.2rem, 2vw, 2.4rem)' }}>{homeContent.data.subheading}</h3>
						</div>
						<div style={{ background: 'var(--theme-accent)', backdropFilter: 'blur(12px)', marginTop: '2vh', padding: '1vh 5%', color: '#fff', borderRadius: 'var(--theme-ui-colors-borderRadius)', justifyContent: 'center', textAlign: 'center', fontSize: 'clamp(1rem, 1.8vw, 3.2rem)', width: '90%', margin: '0 auto' }}>
							<p>{homeContent.data.subcontent}</p>
							<button class="special font">
								<div class="fancy"></div>
								<a class="font" href="contact" title="Contact Us" aria-label="Contact Us" style={{ textDecoration: 'none', border: 'none', boxShadow: 'none' }}><span class="butttext font">{homeContent.data.subcta}</span></a>
							</button>
						</div>
					</div>
				</div>
			</article>
		</section>
	)}
	  
	  


{showFAQ && (
<section style="width:100%; max-width:1200px; margin:0 auto;">
	
		<h2 id="costs" class="letter glow" style={{fontSize:'clamp(1.4rem,2.6vw,3rem)', textAlign:'center', color:'#ddd', fontStyle:'normal', marginBottom:'4vh'}}>{homeContent.data.faqtitle}</h2>
		<div id="" class="nameblock" style={{margin:'0 auto 0 auto', padding:'0 4% 10vh 0',alignContent:'center', display:'grid', textAlign:'left', justifyContent:'center', verticalAlign:'center', fontSize:'clamp(1rem, 1.8vw, 3.2rem)',}}>
	<Faqs />
</div>
</section>
)}

{typeof showTestimonials !== 'undefined' && showTestimonials && (
<section class="testimonials-section">
	<div class="nameblock flexcheek headline" style={{position:'', top:'', marginTop: '', width:'100%', padding: '1vh 2vh', margin:'0 auto 5vh auto', maxHeight: '', fontSize: 'clamp(1.3rem, 3.5vw, 3.2rem)', textAlign:'center', textShadow: '0 2px 3px #000', background:'var(--theme-accent)', backdropFilter:'blur(12px)', color:'#fff' }}>
	  <h2 class="glow">{homeContent.data.testimonialtitle}</h2>
	</div>
	<Testimonials />
</section>
 )}




{typeof showPosts !== 'undefined' && showPosts && (
<section class="scroll-container" style={{display:''}}>
	<div class="nameblock flexcheek headline" style={{width:'100%', padding: '1vh 2vh', margin:'5vh auto', maxHeight: '', fontSize:'clamp(1.4rem,3.9vw,4rem)', textAlign:'center', position:'relative', top:'', textShadow: '0 2px 3px #000', background:'var(--theme-accent)', backdropFilter:'blur(12px)', color:'#fff' }}>
		<h2 class="glow">{homeContent.data.postsectiontitle}</h2>
	  </div>
			
			<div class={`contentpanel ${defaultView === 'swipe' ? 'slider panels horizontal-slider' : 'grid-container'}`} transition:animate="slide">
				<div class="sliderSpacer" style={{ height: "", paddingTop: "", display: "" }}></div>

				{allPostsByDate.map((p) => <PostPreview post={p} withDesc />)}

				<div
					style={{
						textAlign: "center",
						display: "grid",
						placeContent: "center",
						padding: "1vh 1vw",
						width: "100%",
						position: "relative",
						top: "0",
						borderRadius: "12px",
						transition: "all .3s ease-in-out",
					}}
				>
					<div
						class="panel"
						style={{
							maxWidth: "500px",
							color: "#ddd",
							borderRadius: "5px",
						}}
					>
						<a
							class="button"
							href="/posts/"
							style={{
								textDecoration: "none",
								color: "#fff",
								textAlign: "center",
								display:"none",
							}}
						>
							View More
						</a>
					</div>
				</div>
				
			
			</div>
		</section>
)}



</PageLayout>



  
  
  
  








