---
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import Faqs from "@/components/Faqs.astro";
import Testimonials from '../components/Testimonials.astro';
import Feature from "@/components/Feature.astro";
import Bio from "@/components/Bio.astro";
import { getEntry } from 'astro:content';
const siteSettings = await getEntry('siteSettings', 'main');
const { showFAQ, showTestimonials, showPosts, showBio, showFeature, defaultView, showHomeGallery, MAX_POSTS } = siteSettings.data;

import PhotoSection from "@/components/PhotoGallery.astro"

const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);



const homeContent = await getEntry('homepage', 'index');



---
	<PageLayout
  meta={{ 
    title: homeContent.data.title,
    description: homeContent.data.description,
	ogImage: "",
  articleDate:""
  }}
>

{typeof showHomeGallery !== 'undefined' && showHomeGallery && (
<PhotoSection />
)}


	{typeof showFeature !== 'undefined' && showFeature && (
<section class="scroll-area1 panel" id="feature" style={{ display: '', height: '', minHeight: '', position: 'relative', overflow: 'hidden', margin: '0 auto 0 auto', padding: '0', width: '100vw', }}>

	<Feature content={homeContent.data} />
</section>
)}




{typeof showBio !== 'undefined' && showBio && (
<Bio />
)}

	  
	  


{showFAQ && (
<section class="" style="width:100vw; margin:0 auto; backdrop-filter:blur(20px); padding:5vh 0;">
	
		<h2 id="costs" class="letter glow" style={{fontSize:'clamp(1.4rem,2.6vw,3rem)', textAlign:'center', color:'#ddd', fontStyle:'normal', marginBottom:'4vh'}}>{homeContent.data.faqtitle}</h2>
		<div id="" class="nameblock" style={{margin:'0 auto 0 auto', padding:'0 4% 10vh 0',alignContent:'center', display:'grid', textAlign:'left', justifyContent:'center', verticalAlign:'center', fontSize:'clamp(1rem, 1.8vw, 3.2rem)',}}>
	<Faqs />
</div>
</section>
)}

{typeof showTestimonials !== 'undefined' && showTestimonials && (
<section class="testimonials-section">
	<div class="nameblock flexcheek headline" style={{position:'', top:'', marginTop: '', width:'100%', padding: '1vh 2vh', margin:'0 auto 0 auto', maxHeight: '', fontSize: 'clamp(1.3rem, 3.5vw, 3.2rem)', textAlign:'center', textShadow: '0 2px 3px #000', background:'var(--theme-accent)', backdropFilter:'blur(12px)', color:'#fff' }}>
	  <h2 class="glow">{homeContent.data.testimonialtitle}</h2>
	</div>
	<Testimonials />
</section>
 )}




{typeof showPosts !== 'undefined' && showPosts && (
<section class="scroll-container" style={{display:''}}>
	<div class="nameblock flexcheek headline" style={{width:'100%', padding: '1vh 2vh', margin:'0 auto 4vh auto', maxHeight: '', fontSize:'clamp(1.4rem,3.9vw,4rem)', textAlign:'center', position:'relative', top:'', textShadow: '0 2px 3px #000', background:'var(--theme-accent)', backdropFilter:'blur(12px)', color:'#fff' }}>
		<h2 class="glow">{homeContent.data.postsectiontitle}</h2>
	  </div>
			
			<div class={`contentpanel ${defaultView === 'swipe' ? 'slider panels horizontal-slider' : 'grid-container'}`} transition:animate="slide">
				<div class="sliderSpacer" style={{ height: "", paddingTop: "", display: "" }}></div>

				{allPostsByDate.map((p) => <PostPreview post={p} withDesc />)}


						<a
							class="button"
							href="/posts/"
							style={{
								textDecoration: "none",
								color: "#fff",
								textAlign: "center",
								display:"block",
							}}
						>
							View More
						</a>
			
				
			
			</div>
		</section>
)}



</PageLayout>



  
  
  
  








