---
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import Faqs from "@/components/Faqs.astro";
import Testimonials from '../components/Testimonials.astro';
import Feature from "@/components/Feature.astro";
import Bio from "@/components/Bio.astro";
import { getEntry } from 'astro:content';
import keystaticConfig from '../../keystatic.config';
import { createReader } from '@keystatic/core/reader';
const siteSettings = await getEntry('siteSettings', 'main');
const { defaultView, MAX_POSTS } = siteSettings.data;
const homeContent = await getEntry('homepage', 'index');


import PhotoSection from "@/components/PhotoGallery.astro"

const reader = createReader(process.cwd(), keystaticConfig);
const homepage = await reader.singletons.home.read();
const showBioOnHome = homepage?.showBioOnHome ?? false;
const showFaqOnHome = homepage?.showFaqOnHome ?? false;
const showTestOnHome = homepage?.showTestOnHome ?? false;
const showFeature = homepage?.showFeature ?? false;
const showPosts = homepage?.showPosts ?? false;
const showHomeGallery = homepage?.showHomeGallery ?? false;

const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);




---
	<PageLayout
  meta={{ 
    title: homeContent.data.title,
    description: homeContent.data.description,
	ogImage: "",
  articleDate:""
  }}
>
{showFeature && <Feature content={homeContent.data} /> }

{ showHomeGallery && (
<PhotoSection />
)}


	<!-- {typeof showFeature !== 'undefined' && showFeature && (
<section class="scroll-area1 panel" id="feature" style={{ display: '', height: '', minHeight: '', position: 'relative', overflow: 'hidden', margin: '0 auto 0 auto', padding: '0', width: '100vw', }}>

	<Feature content={homeContent.data} />
</section>
)} -->




<!-- {typeof showBio !== 'undefined' && showBio && (
<Bio />
)} -->

{showBioOnHome && <Bio />}
	  


{showFaqOnHome && (
<div class="nameblock flexcheek headline" style={{width:'100%', padding: '1vh 2vh', margin:'0 auto 4vh auto', maxHeight: '', fontSize:'clamp(1.4rem,3.9vw,4rem)', textAlign:'center', position:'relative', top:'', textShadow: '0 2px 3px #000', background:'var(--theme-accent)', backdropFilter:'blur(12px)', color:'#fff' }}>
<h2 class="glow">{homeContent.data.testimonialtitle}</h2>
</div>
<Faqs />

)}




	




{showTestOnHome && (

	<Testimonials />

 )}




{showPosts && (
<section class="scroll-container" style={{display:''}}>
	<div class="nameblock flexcheek headline" style={{width:'100%', padding: '1vh 2vh', margin:'0 auto 4vh auto', maxHeight: '', fontSize:'clamp(1.4rem,3.9vw,4rem)', textAlign:'center', position:'relative', top:'', textShadow: '0 2px 3px #000', background:'var(--theme-accent)', backdropFilter:'blur(12px)', color:'#fff' }}>
		<h2 class="glow">{homeContent.data.postsectiontitle}</h2>
	  </div>
			
			<div class={`contentpanel ${defaultView === 'swipe' ? 'slider panels horizontal-slider' : 'grid-container'}`} transition:animate="slide">
				<div class="sliderSpacer" style={{ height: "", paddingTop: "", display: "" }}></div>

				{allPostsByDate.map((p) => <PostPreview post={p} withDesc />)}


						<a
							class="button"
							href="/posts/"
							style={{
								textDecoration: "none",
								color: "#fff",
								textAlign: "center",
								display:"block",
							}}
						>
							View More
						</a>
			
				
			
			</div>
		</section>
)}



</PageLayout>



  
  
  
  








