---
import { getEntry, getCollection } from 'astro:content';
import YouTubeEmbed from '@/components/YouTubeEmbed.astro';
import { getImage } from "astro:assets";
import { Image } from "astro:assets";
import CTAs from '@/components/CTAs.astro';
const home = await getEntry('homepage', 'index');
const cta = home.data.cta ? await getEntry('CTAs', home.data.cta) : null;

interface Props {
  content: {
    youtube?: {
      url: string;
      title?: string;
      controls?: boolean;
      mute?: boolean;
      loop?: boolean;
      start?: number;
      end?: number;
      useCustomPlayer?: boolean;
    };
    title: string;
    featureImage?: {
      src: string;
      alt: string;
    };
    cta?: {
      title: string;
      description: string;
      ctaUrl: string;
      showFancy: boolean;
    };
  };
}

const { content } = Astro.props;

const optimizedImage = await getImage({src: content.featureImage?.src || '/social-card.webp', format: 'webp'});
---
<div id="feature" style="position:relative; max-width: 100vw; overflow:hidden;">

  {content.cta && (
    <div class="homeCTA"><CTAs 
      title={content.cta.title}
      description={content.cta.description}
      ctaUrl={content.cta.ctaUrl}
      showFancy={content.cta.showFancy}
    /></div>
  )}

  
{
  content.youtube && content.youtube.url ? (
  <div class="featured" style="max-width: 100vw; overflow:hidden;"><YouTubeEmbed
      url={content.youtube.url}
      title={content.youtube.title}
      controls={content.youtube.controls}
      useCustomPlayer={content.youtube.useCustomPlayer}
      mute={content.youtube.mute}
      loop={content.youtube.loop}
      start={content.youtube.start}
      end={content.youtube.end}
    /></div>
  ) : content.featureImage && content.featureImage.src ? (
    <div class="featured">
      <Image
        src={optimizedImage.src}
        alt={content.featureImage.alt || ""}
        width={optimizedImage.attributes.width}
        height={optimizedImage.attributes.height}
        class="max-w-full h-auto border-transparent"
        loading="eager"
        fetchpriority="high"
      />
    </div>
  ) : null
}

</div>