---
import type { SiteMeta } from "@/types";
// import { ViewTransitions } from "astro:transitions";
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />

		<style>
			/* body{scroll-snap-type: y proximity;}
			.mapsection {scroll-snap-align: start;} */
			@media(max-width:48rem) {
				#frontmap{height:100dvh !important;}
			}
		</style>

	</head>
	<body>
		<ThemeProvider />
		<SkipLink />
		<!-- <ViewTransitions /> -->
		


			<section id="maptop" class="mapsection" style="height:100vh; z-index:12; margin:0 auto -60px auto;"><iframe id="frontmap" name="mapframe" title="location map" class="flexcheek beta" width="100vw" height="65vh" frame-border="0" scrolling="no" margin-height="0" margin-width="0" src="/intro" allow-full-screen={true} loading="eager" style={{maxWidth:'100%', width:'100vw', minHeight:'78vh', margin:'0 auto', border:'0 solid rgba(0,0,0,0.60)', borderRadius:'', pointerEvents:'', zIndex:'11'}}></iframe></section>
			<Header />
			<!-- <main id="main">
				<slot /> -->
				<section class="mapsection" style="height:100vh; zIndex:999999;"><main id="main" style="padding-top:20px">
					<slot />
		</main>
		<Footer /></section>
	</body>
</html>
