---
import type { SiteMeta } from "@/types";
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";
import DynamicTheme from '../components/DynamicTheme.astro';
import BackToTop from '../components/BackToTop.astro';

interface Props {
	meta: SiteMeta;
}

import { getEntry } from 'astro:content';
const siteSettings = await getEntry('siteSettings', 'main');
const { showFooter } = siteSettings.data;

const { meta } = Astro.props;
const { title, description = siteConfig.description, articleDate, ogImage } = meta;
---
<html lang={siteConfig.lang}>
	<head>
		<DynamicTheme />
		<ThemeProvider />
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body>
		<SkipLink />
		<Header />

		<main id="main">
			<slot />
		</main>

		{ showFooter && (
		<Footer />
		)}
		<BackToTop />
	</body>
</html>
<script src="../components/scrollListener.js"></script>